@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.dark {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Snackbar Stylings */
html {
  .notistack-SnackbarContainer {
    .notistack-CollapseWrapper {
      .notistack-Snackbar {
        .notistack-MuiContent {
          justify-content: center;
          font-size: 1.2rem !important;
        }

        @media screen and (min-width: 600px) {
          .notistack-MuiContent {
            font-size: 1.2rem !important;
            // justify-content: start;
          }
        }

        #notistack-snackbar {
          padding: 1rem 0;
        }
      }
    }
  }
}
