@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background: linear-gradient(135deg, #f3f3f3 1%, #ffffff 25%);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  transition: all 0.3s;

  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; /* Ensure the container takes full height */
  }

  .snap-section {
    scroll-snap-align: start;
    height: 100vh; /* Each section takes full height */
  }

  header {
    background-image: url('../../public/blobs/greenish_blob.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1 {
      font-family: 'Josefin Sans', sans-serif;
      background: -webkit-linear-gradient(#7f7f7f, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.222);
    }
  }

  .scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; /* Ensure the container takes the full viewport height */
  }

  .scroll-item {
    scroll-snap-align: start;
    height: 100vh; /* Ensure each item takes the full viewport height */
  }
}

body.dark {
  color: white;
  background: linear-gradient(135deg, #000000, #272727);
  background-repeat: no-repeat;
  background-size: cover;

  header {
    // background: #f3f3f3;
    background-image: url('../../public/blobs/greenish_blob.png');
    // background-image: url("https://images.pexels.com/photos/26775381/pexels-photo-26775381/free-photo-of-black-and-white-photograph-of-sand-dunes-in-the-desert.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
      font-family: 'Josefin Sans', sans-serif;
      background: -webkit-linear-gradient(#ffffff, #585858);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.33);
    }
  }

  main {
    overflow-x: hidden;
  }
}

/* Snackbar Stylings */
html {
  .notistack-SnackbarContainer {
    .notistack-CollapseWrapper {
      .notistack-Snackbar {
        .notistack-MuiContent {
          justify-content: center;
          font-size: 1.2rem !important;
        }

        @media screen and (min-width: 600px) {
          .notistack-MuiContent {
            font-size: 1.2rem !important;
          }
        }

        #notistack-snackbar {
          padding: 1rem 0;
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid rgb(12, 72, 145);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

body.dark {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 2px solid rgb(9, 101, 214);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
